<a href="https://colab.research.google.com/github/imabhishekmahli/Extracting_data_using_API/blob/main/Extracting_data_using_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import requests

In [43]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [44]:
df=pd.DataFrame(response.json()['results'])[['id','overview','popularity','genre_ids','original_title','original_language']]

In [45]:
df.head(2)

,id,overview,popularity,genre_ids,original_title,original_language
0,238,"Spanning the years 1945 to 1955, a chronicle o...",81.999,"[18, 80]",The Godfather,en
1,278,Framed in the 1940s for the double murder of h...,78.658,"[18, 80]",The Shawshank Redemption,en

In [46]:
df.shape

(20, 6)

In [47]:
df1 = pd.DataFrame()

In [48]:
df1

Empty DataFrame
Columns: []
Index: []

In [49]:
for i in range (1,300):
  response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
  temp_df = pd.DataFrame(response.json()['results'])[['id','overview','popularity','genre_ids','original_title','original_language']]
  df1=df1.append(temp_df,ignore_index=True)

In [50]:
df1

,id,overview,popularity,genre_ids,original_title,original_language
0,238,"Spanning the years 1945 to 1955, a chronicle o...",81.999,"[18, 80]",The Godfather,en
1,278,Framed in the 1940s for the double murder of h...,78.658,"[18, 80]",The Shawshank Redemption,en
2,240,In the continuing saga of the Corleone crime f...,50.955,"[18, 80]",The Godfather Part II,en
3,851644,Yeon-du asks her best friend Bora to collect a...,165.101,"[10749, 18]",20세기 소녀,ko
4,555604,During the rise of fascism in Mussolini's Ital...,856.065,"[16, 14, 18]",Guillermo del Toro's Pinocchio,en
...,...,...,...,...,...,...
5975,8868,Obelix falls for a new arrival in his home vil...,11.137,"[35, 16, 10751, 12]",Astérix et la surprise de César,fr
5976,807356,"As a serial killer stalks the city, Julia — a ...",207.563,"[9648, 53, 27]",Watcher,en
5977,441183,Parent and child journey through the outskirts...,7.762,"[878, 18]",Light of My Life,en
5978,11614,Bomber is an unemployed boat captain. One day ...,5.696,"[28, 35, 18]",Bomber,it
5979,10991,When Molly Hale's sadness of her father's disa...,17.610,"[12, 14, 16, 28, 10751]",劇場版ポケットモンスター 結晶塔の帝王 エンテイ,ja

In [51]:
temp_df.shape

(20, 6)

In [52]:
df1.shape

(5980, 6)

In [53]:
df1.head(1)

,id,overview,popularity,genre_ids,original_title,original_language
0,238,"Spanning the years 1945 to 1955, a chronicle o...",81.999,"[18, 80]",The Godfather,en

In [54]:
df['overview'] = df['overview'].str.lower()

In [56]:
df.head()

,id,overview,popularity,genre_ids,original_title,original_language
0,238,"spanning the years 1945 to 1955, a chronicle o...",81.999,"[18, 80]",The Godfather,en
1,278,framed in the 1940s for the double murder of h...,78.658,"[18, 80]",The Shawshank Redemption,en
2,240,in the continuing saga of the corleone crime f...,50.955,"[18, 80]",The Godfather Part II,en
3,851644,yeon-du asks her best friend bora to collect a...,165.101,"[10749, 18]",20세기 소녀,ko
4,555604,during the rise of fascism in mussolini's ital...,856.065,"[16, 14, 18]",Guillermo del Toro's Pinocchio,en